{%extends 'layout.html'%}
{%block content%}
<link href="../static/css/estilosCine.css" rel="stylesheet">

<section id="seccionFormulario">
    <h3>Entradas</h3>
    <form action="/Cine" method="POST" class="form-vertical">
        <div class="control-group">
            <div class="input-prepend">
                <span class="add-on" id="nombreF">Nombre:</span>
                <input class="span2" type = "text" name="nombre" />
            </div>
        </div>
        
        <div class="control-group">
            <div class="input-prepend">
                <span class="add-on" id="nombreF">No. Compradores:</span>
                <input class="span2" type = "text" name="numCompradores" value="1"/>
            </div>    
        </div>
        
        <div class="control-group">
            <div class="input-prepend">
                <span class="add-on" id="nombreF">No. Boletos:</span>
                <input class="span2" type="number" name="numBoletos" value="1"/> 
            </div>
        </div>    
        
        <div class="control-group">
            <label class="control-label">Tarjeta Cine:</label>
            <label class="radio">
                <input type="radio" name="tarjetaCine" value="1"> Si
            </label>
            <label class="radio">
                <input type="radio" name="tarjetaCine" value="0" checked> No
            </label>
        </div>
    
        <input type="submit" class="btn  btn-large btn-block btn-primary"/>
    </form>    
</section>

<section id="seccionRespuesta">
    <div class="control-group">
        <h3>Salidas</h3>
        <label class="control-label">Valor a pagar:</label>
        <label class="radio">
            <input type = "text" name="valorPagar" value="{{ res }}" readonly/>
        </label>
    </div>
</section>



{%endblock%}